{% extends "evolo/base.html" %}
{% block title %}{{ block.super }}- Delete Results{% endblock %}
{% block content %}
    <form action="{% url 'evolo:delete_view' del_date %}" method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete the Results for <span class="text-primary">{{ del_date }}</span></h3>

            <button type="submit" class="btn btn-danger" name="btn_confirm" value="confirm">Confirm</button>
            <button type="submit" class="btn btn-success" name="btn_cancel" value="cancel">Cancel</button>


    </form>
{% endblock %}