{% extends "evolo/base.html" %}
{% block title %}{{ block.super }}- Results List{% endblock %}
{% block content %}


    <div class="row mb-5">
        <div class="col"><span class="badge bg-primary">Variable Name</span></div>
        <div class="col"><span class="badge bg-primary">Type</span></div>
        <div class="col"><span class="badge bg-primary">Value</span></div>
    </div>
    {% for variableresults_rec in variableresults_list %}
        {% ifchanged variableresults_rec.result_date %}
            <div class="row mt-2">
                <div class="col-10">
                    <span class="badge rounded-pill bg-success mb-2">{{ variableresults_rec.result_date }}</span>
                </div>
                <div class="col">
                    <a class="btn btn-success btn-sm"
                       href="{% url 'evolo:modify_view' variableresults_rec.result_date %}"
                       role="button">Modify</a>
                </div>
                <div class="col">
                    <a class="btn btn-danger btn-sm"
                       href="{% url 'evolo:delete_view' variableresults_rec.result_date %}"
                       role="button">Delete</a>
                </div>
            </div>
        {% endifchanged %}
        <div class="row border-bottom border-dark">
            <div class="col">{{ variableresults_rec.variable }}</div>
            <div class="col">{{ variableresults_rec.variable.get_variable_type_display }}</div>
            <div class="col">
                {% if variableresults_rec.variable.variable_type  == "BN" %}
                    {{ variableresults_rec.result_value|yesno:"Yes,No,maybe" }}
                {% else %}
                    <div class="col">{{ variableresults_rec.result_value }}</div>
                {% endif %}
            </div>

        </div>
    {% empty %}
        <h3>No results </h3>
    {% endfor %}



{% endblock %}
